In [22]:
import pandas as pd
from scipy.stats import ttest_ind
df = pd.read_csv('Data.csv', sep = ',')
df.head(5)

   id_client  id_group      city  nflag_purchase   time_came
0   24360208         0  Brussels               1  21.10.2025
1   24360925         1  Brussels               1  16.10.2025
2   24357607         1   Antwerp               0    9.1.2021
3   24362041         0   Antwerp               0  25.01.2024
4   24360773         1     Ghent               0    3.4.2021

In [14]:
df_gr = df.groupby('id_group').agg(
    flag_success = ('nflag_purchase', 'sum'),
    cnt_client = ('id_client', 'count')
    )
df_gr

          flag_success  cnt_client
id_group
0                  872        3171
1                  974        3223

In [15]:
df_gr['conv'] = df_gr['flag_success']/df_gr['cnt_client']
df_gr

          flag_success  cnt_client      conv
id_group
0                  872        3171  0.274992
1                  974        3223  0.302203

In [16]:
s, p = ttest_ind(df[df['id_group']==0]['nflag_purchase'], df[df['id_group']==1]['nflag_purchase'])
print('p=', round(p,4),'   s=', round(s,4))

p= 0.0164    s= -2.4014

In [15]:
###  For the entire population, we obtain an increase in conversion

In [17]:
def conclusion(s1):
    if s1 >=-1.96 and s <= 1.96:
        print ('   -> The change in conversion is not statistically confirmed.')
    elif s1 <-1.96:
        print ('   -> Conversion is increasing')
    else:
        print ('   -> There is a decrease in conversion')

In [18]:
df_gr_city = df.groupby(['id_group','city']).agg(flag_success = ('nflag_purchase', 'sum'), cnt_client = ('id_client', 'count'))###.reset_index
df_gr_city

                   flag_success  cnt_client
id_group city
0        Antwerp            206         807
         Brussels           304        1106
         Ghent              152         585
         Leuven              68         234
         Liege              142         439
1        Antwerp            238         815
         Brussels           311        1068
         Ghent              166         609
         Leuven              88         228
         Liege              171         503

In [19]:
for i in df['city'].unique():
    print(i)
    s, p = ttest_ind(df[(df['city']==i) & (df['id_group']==0)]['nflag_purchase'],
                     df[(df['city']==i) & (df['id_group']==1)]['nflag_purchase'])
    print('p =',round(p,4),' s =',round(s,4))
    conclusion(s)
    print()

Brussels
p = 0.3982  s = -0.8451
   -> The change in conversion is not statistically confirmed.

Antwerp
p = 0.097  s = -1.6605
   -> The change in conversion is not statistically confirmed.

Ghent
p = 0.6187  s = -0.4978
   -> The change in conversion is not statistically confirmed.

Liege
p = 0.5922  s = -0.5358
   -> The change in conversion is not statistically confirmed.

Leuven
p = 0.0303  s = -2.1734
   -> Conversion is increasing

In [20]:
year_list = [2024,2025]
for j in year_list:
    print('Year =', j)
    for i in df['city'].unique():
        print(i)
        s, p = ttest_ind(df[(df['city']==i) & (df['id_group']==0) & (pd.DatetimeIndex(df['time_came']).year == j)]['nflag_purchase'],
                         df[(df['city']==i) & (df['id_group']==1) & (pd.DatetimeIndex(df['time_came']).year == j)]['nflag_purchase'])
        print('p =',round(p,4),' s =',round(s,4))
        conclusion(s)
        print()
    print('********************************')

Year = 2024
Brussels
p = 0.8447  s = -0.1961
   -> The change in conversion is not statistically confirmed.

Antwerp
p = 0.4192  s = -0.8089
   -> The change in conversion is not statistically confirmed.

Ghent
p = 0.6306  s = -0.4815
   -> The change in conversion is not statistically confirmed.

Liege
p = 0.3286  s = -0.9784
   -> The change in conversion is not statistically confirmed.

Leuven
p = 0.0587  s = -1.909
   -> The change in conversion is not statistically confirmed.

********************************
Year = 2025
Brussels
p = 0.4261  s = 0.7963
   -> The change in conversion is not statistically confirmed.

Antwerp
p = 0.6828  s = -0.4089
   -> The change in conversion is not statistically confirmed.

Ghent
p = 0.9528  s = -0.0593
   -> The change in conversion is not statistically confirmed.

Liege
p = 0.1845  s = 1.3305
   -> The change in conversion is not statistically confirmed.

Leuven
p = 0.8676  s = -0.1669
   -> The change in conversion is not statistically confirmed.

********************************